body {
    background-color: white;
}

h1 {
    color: black
}
span {
    color: aqua
}

.contact__title {
    color:green
}

.contact__des {
    color: blue
}
.contact__des2 {
    color: chartreuse;
}
.blog__title {
    color: burlywood;
}

.blog__des {
    color: chartreuse;
}
.cart {
    color: aquamarine;
}
