body {
    background-color: white;
}

h1 {
    color: black
}
span {
    color: aqua
}

.contact__title {
    color:green
}

.contact__des {
    color: blue
}

.blog__title {
    color: blueviolet;
}

.blog__des {
    color: chartreuse;
}