body {
    background-color: white;
}

h1 {
    color: black
}
span {
    color: aqua
}

.contact__title {
    color:green
}

.contact__des {
    color: blue
}
.contact__des1 {
    color: red
}
.contact__des2 {
    color: yellow
}

.cart {
    color: aquamarine;
}